* {
	font-size: 12px;
	font-family: Tahoma;
}

body {
	width: 900px;
	margin: 0 auto;
}

header {
	margin: 10px 0;
}

footer {
	margin: 0px auto;
	width: 250px;
	padding: 50px;
}

a {
	color: blue;
}

a:active {
	color: red;
}

div.language {
	margin: 10px 0px 0px;
}

#loginForm, #registerForm {
	margin: 50px auto;
	width: 350px;
}

.spacer {
	margin: 10px;
	clear: both;
}

.error {
	color: red;
}

.success {
	color: green;
}

.animal {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 160px;
}

.animal-image {
	width: 110px;
	height: 110px;
}

.city {
	margin: 5px 0;
}

div.animal:nth-child(5n + 1) {
	clear: both;
}

#contact-owner .animal, #pet-details .animal {
	width: 250px;
}

#contact-owner .email-form, .comment-form {
	float: left;
}

#contact-owner .subject, #contact-owner .message, #pet-details .comments
	{
	width: 300px;
}

#contact-owner .message {
	height: 100px;
}

#pet-details .comments {
	height: 70px;
}

#contact-owner table td {
	height: 20px;
}

#comment-lists {
	padding-top: 20px;
}

#comment-lists .user {
	font-weight: bold;
}

#comment-lists .comment {
	margin-bottom: 15px;
}